<!--
<nav class="navbar navbar-expand-lg navbar-light border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ .Site.Title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {{- $currentPage := . -}}
      {{ range .Site.Menus.main }}
      {{ $text := print .Name | safeHTML }}
        <li class="nav-item">
          <a class="nav-link{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" aria-current="page" href="{{ .URL }}">{{ $text }}</a>
        </li>
      {{ end }}
      </ul>
    </div>
  </div>
</nav>
-->
<nav class="navbar navbar-light border-bottom">
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto fw-bold fs-2" href="/">
          {{ partial "icons/kitchen-cook.html" }} 
          {{ .Site.Title }}</a>
    </div>
</nav>